$white: #ffffff;
$black: #222222;
$brownish-grey: #666666;
$charcoal-grey: #313133;
$very-light-pink: #dddddd;
$dark-mint: #46c17a;
$brown-grey: #aaaaaa;
$greyish-brown: #414141;
$bluish-green: #16a854;
$cerulean: #0085cb;
$brown-grey-two: #999999;
$cherry-red: #e50019;
$turquoise-blue: #00b4cb;
$very-light-pink-two: #cccccc;
$dark-red: #790000;
$white-two: #f4f4f4;
$black-two: #000000;

// font style
$NotoSansKR: "Noto Sans KR", sans-serif;
