form.type {
  &-default {
    ul {
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin: 0;
      padding: 0;
      @include respond-to("sm") {
        gap: 13px;
      }
    }
    label {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
      span {
        display: inline-block;
        width: 100px;
        font-family: $NotoSansKR;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.6px;
        text-align: left;
        color: $black;
      }
      input {
        padding: 16px 20px;
        border: 1px solid $very-light-pink;
        border-radius: 6px;
        width: 100%;
        max-width: 400px;
        font-family: $NotoSansKR;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.54px;
        text-align: left;
        &::placeholder {
          color: $brown-grey-two;
        }
      }
      select {
        padding: 17px 20px;
        border: 1px solid $very-light-pink;
        border-radius: 6px;
        font-family: $NotoSansKR;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.54px;
      }
      .phone {
        display: flex;
        gap: 3px;
        max-width: 400px;
        width: 100%;
      }
      .phone input {
        max-width: 227px;
        width: 100%;
      }
      .phone .select {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 170px;
        select {
          width: 100%;
          appearance: none;
        }
        img.arrow {
          position: absolute;
          pointer-events: none;
          top: 50%;
          right: 16px;
          transform: translateY(-50%);
        }
      }
    }

    // checkbox style
    .squaredFour {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 10px;

      .checkbox {
        width: 32px;
        height: 32px;
        cursor: pointer;
        background: #ffffff;
        border-radius: 4px;
        border: solid 1px $very-light-pink;
        position: relative;
        &:after {
          content: "";
          width: 9px;
          height: 5px;
          position: absolute;
          top: 9px;
          left: 10px;
          border: 3px solid #333;
          border-top: none;
          border-right: none;
          background: transparent;
          opacity: 0.5;
          transform: rotate(-45deg);
        }
        &:hover::after {
          opacity: 0.5;
        }
      }
      input[type="checkbox"] {
        visibility: hidden;
        &:checked + .checkbox:after {
          opacity: 1;
        }
      }
    }
  }
}
