header.management {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  ._nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33.33%;
      &:hover {
        border-bottom: 4px solid $DarkGrey;
      }
    }
    li._active {
      border-bottom: 4px solid $Red;
      > a {
        font-weight: bold;
      }
    }
    .has_icon ._icon {
      background-position: center center;
      background-size: auto;
      background-repeat: no-repeat;
      display: flex;
      margin-right: 18px;
      &.room_list {
        width: 35px;
        height: 35px;
        background-image: url("#{$urlImg}/menuicon_01.svg");
      }
      &.reservation_list {
        width: 32px;
        height: 32px;
        background-image: url("#{$urlImg}/menuicon_02.svg");
      }
      &.settle_list {
        width: 28px;
        height: 32px;
        background-image: url("#{$urlImg}/menuicon_03.svg");
      }
      @include respond-to("md") {
        display: none;
      }
    }
    a {
      padding: 40px;
      font-size: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include respond-to("md") {
        padding: 30px;
      }
      @include respond-to("sm") {
        padding: 20px 10px;
        font-size: 18px;
      }
    }
  }
}
