.home-page {
  padding-top: 51px;
  padding-bottom: 65px;
  .date {
    font-family: $NotoSansKR;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -0.78px;
    text-align: center;
    color: $black;
    margin-bottom: 30px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .allInfo {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 23px 77px 33px;
    margin: 0;
    background-color: $white;
    justify-content: space-between;
    gap: 18px;
    margin-bottom: 20px;
    .count {
      font-family: $NotoSansKR;
      font-size: 40px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.48;
      letter-spacing: -1.2px;
      text-align: center;
      color: $cherry-red;
    }
    .title {
      font-family: $NotoSansKR;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: -0.48px;
      text-align: center;
      color: $black;
    }
  }

  .dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    .gridTile {
      width: calc(50% - 3px);
      background-color: $white;
      border-radius: 6px;
      border: 1px solid $very-light-pink;
      display: flex;
      flex-wrap: wrap;
      .column {
        flex: auto;
        display: flex;
        flex-direction: column;
      }
      .listWrap {
        padding: 32px 35px;
        height: 100%;
        table {
          margin: 0 auto;
          width: 100%;
        }
      }
      .content {
        &.borderRight {
          border-right: 1px solid $very-light-pink;
          height: 100%;
        }
      }
      table {
        td {
          font-family: $NotoSansKR;
          font-size: 16px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.75;
          letter-spacing: -0.48px;
          color: $black;
        }
        .roomNumber {
          font-family: $NotoSansKR;
          font-size: 16px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.75;
          letter-spacing: -0.48px;
          text-align: center;
          color: $brownish-grey;
        }
      }
      .checkin table tr {
        td:first-child {
          width: 50px;
        }
        td:last-child {
          width: 66px;
        }
      }
      .checkout table tr {
        td {
          text-align: center;
        }
        td:first-child {
          width: 43px;
          text-align: left;
        }
        td:last-child {
          width: 80px;
          text-align: right;
        }
      }
      .currentRoomConditions td {
        text-align: center;
        min-width: 80px;
      }
      .header {
        border-bottom: 1px solid $very-light-pink;
        text-align: center;
        padding: 15px;
        span {
          font-family: $NotoSansKR;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: -0.54px;
          color: $black;
        }
      }
    }
  }
}
