.top_nav_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #414141;
  padding: 10px 30px;
  align-items: center;
  .logo {
    a {
      display: flex;
      align-items: center;
      width: 251px;
      height: 30px;
      img {
        height: auto;
      }
      @include respond-to("md") {
        width: 120px;
        height: 34px;
      }
    }
  }
  .top_menu {
    display: flex;
    a,
    li {
      color: #fff;
      font-size: 16px;
      line-height: 1.2em;
      @include respond-to("md") {
        font-size: 16px;
      }
    }
    li {
      padding: 0 18px;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }
}
