@charset "UTF-8";
html,
body {
  margin: 0;
  background-color: #f4f4f4;
}

body,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th {
  font-family: "Maven Pro", "Noto Sans KR", sans-serif !important;
  line-height: 1.4em;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

*:focus {
  outline: none;
}

​ button {
  outline: none;
  border: none;
  cursor: pointer;
}

path,
g {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container_inner.fixed_inner {
  width: 100%;
  max-width: 1200px;
}

.container_inner.column_align {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_inner.row_align {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#content.content_wrap {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1280px) {
  #content.content_wrap {
    padding: 60px 20px;
  }
}

@media (max-width: 780px) {
  #content.content_wrap {
    padding: 20px;
  }
}

.label {
  padding: 7px 8px;
  line-height: 1.2em;
  border-radius: 6px;
  background-color: #666;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 74px;
  font-size: 14px;
  color: #fff;
}

.label._checkin {
  background-color: #46c17a;
}

.label._reserve {
  background-color: #0085cb;
}

.label._deposit {
  background-color: #00466a;
}

.label._hold {
  background-color: #aaaaaa;
}

.label_grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.label_grp .label {
  margin-right: 5px;
}

.label_grp .label:last-child {
  margin-right: 0;
}

.options_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options_wrap .selectbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.options_wrap .selectbox .selected_item {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
}

.options_wrap .selectbox ul._inner {
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 62px;
  left: 0;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 6px;
  z-index: -1;
}

.options_wrap .selectbox ul._inner > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  min-height: 61px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.options_wrap .selectbox ul._inner > li:last-child {
  border-bottom: none;
}

.options_wrap .selectbox ul._inner > li:hover {
  background-color: #f9f9f9;
}

.options_wrap .selectbox .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #ddd;
  top: 14px;
  right: 15px;
  position: absolute;
  z-index: 1;
}

.options_wrap .selectbox .arrow i {
  font-size: 10px;
}

.options_wrap .selectbox._opened ul._inner {
  height: auto;
  visibility: visible;
  opacity: 1;
  z-index: 9;
}

.options_wrap .selectbox._opened .arrow {
  background-color: #666;
  border: none;
}

.options_wrap .selectbox._opened .arrow i {
  color: #fff;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.options_wrap .selectbox_grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.options_wrap .selectbox_grp > li {
  position: relative;
  width: 300px;
}

.options_wrap .selectbox_grp > li:first-child .selected_item {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.options_wrap .selectbox_grp > li:last-child .selected_item {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inner_popup {
  position: absolute;
  top: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 25px;
  background-color: #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.inner_popup ul {
  width: 260px;
}

.inner_popup.with_tail:before {
  content: "";
  border-top: 0 solid transparent;
  border-left: 29px solid #0085cb;
  border-right: 0 solid transparent;
  border-bottom: 25px solid transparent;
  position: absolute;
  right: -30px;
  top: 34px;
}

.inner_popup.with_tail:after {
  content: "";
  border-top: 0px solid transparent;
  border-left: 28px solid #fff;
  border-right: 0 solid transparent;
  border-bottom: 24px solid transparent;
  position: absolute;
  right: -27px;
  top: 35px;
}

form.type-default ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  form.type-default ul {
    gap: 13px;
  }
}

form.type-default label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

form.type-default label span {
  display: inline-block;
  width: 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.6px;
  text-align: left;
  color: #222222;
}

form.type-default label input {
  padding: 16px 20px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.54px;
  text-align: left;
}

form.type-default label input::-webkit-input-placeholder {
  color: #999999;
}

form.type-default label input:-ms-input-placeholder {
  color: #999999;
}

form.type-default label input::-ms-input-placeholder {
  color: #999999;
}

form.type-default label input::placeholder {
  color: #999999;
}

form.type-default label select {
  padding: 17px 20px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.54px;
}

form.type-default label .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  max-width: 400px;
  width: 100%;
}

form.type-default label .phone input {
  max-width: 227px;
  width: 100%;
}

form.type-default label .phone .select {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 170px;
}

form.type-default label .phone .select select {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

form.type-default label .phone .select img.arrow {
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

form.type-default .squaredFour {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 10px;
}

form.type-default .squaredFour .checkbox {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 4px;
  border: solid 1px #dddddd;
  position: relative;
}

form.type-default .squaredFour .checkbox:after {
  content: "";
  width: 9px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 10px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0.5;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

form.type-default .squaredFour .checkbox:hover::after {
  opacity: 0.5;
}

form.type-default .squaredFour input[type="checkbox"] {
  visibility: hidden;
}

form.type-default .squaredFour input[type="checkbox"]:checked + .checkbox:after {
  opacity: 1;
}

header.main_header .top_nav_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #414141;
  padding: 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.main_header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 251px;
  height: 30px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/logo.png");
}

@media (max-width: 780px) {
  header.main_header .logo a {
    width: 120px;
    height: 34px;
    background-image: url("../img/logo-m.png");
  }
}

header.main_header .top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.main_header .top_menu a, header.main_header .top_menu li {
  color: #fff;
  font-size: 16px;
  line-height: 1.2em;
}

@media (max-width: 780px) {
  header.main_header .top_menu a, header.main_header .top_menu li {
    font-size: 16px;
  }
}

header.main_header .top_menu li {
  padding: 0 18px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

header.main_header .top_menu li:first-child {
  padding-left: 0;
}

header.main_header .top_menu li:last-child {
  padding-right: 0;
  border-right: none;
}

header.main_header .gnb {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.main_header .gnb ._nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

header.main_header .gnb ._nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.33%;
}

header.main_header .gnb ._nav li:hover {
  border-bottom: 4px solid #666666;
}

header.main_header .gnb ._nav li._active {
  border-bottom: 4px solid #e50019;
}

header.main_header .gnb ._nav li._active > a {
  font-weight: bold;
}

header.main_header .gnb ._nav .has_icon ._icon {
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
}

header.main_header .gnb ._nav .has_icon ._icon.room_list {
  width: 35px;
  height: 35px;
  background-image: url("../img/menuicon_01.svg");
}

header.main_header .gnb ._nav .has_icon ._icon.reservation_list {
  width: 32px;
  height: 32px;
  background-image: url("../img/menuicon_02.svg");
}

header.main_header .gnb ._nav .has_icon ._icon.settle_list {
  width: 28px;
  height: 32px;
  background-image: url("../img/menuicon_03.svg");
}

@media (max-width: 780px) {
  header.main_header .gnb ._nav .has_icon ._icon {
    display: none;
  }
}

header.main_header .gnb ._nav a {
  padding: 40px;
  font-size: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 780px) {
  header.main_header .gnb ._nav a {
    padding: 30px;
  }
}

@media (max-width: 576px) {
  header.main_header .gnb ._nav a {
    padding: 20px 10px;
    font-size: 18px;
  }
}

.section.page-login {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.page-login .imageWrap {
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .section.page-login .imageWrap {
    margin-bottom: 38px;
    padding-left: 24px;
    padding-right: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.section.page-login .imageWrap img {
  max-width: 540px;
  width: 100%;
}

.section.page-login .formWrap {
  padding-left: 24px;
  padding-right: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.section.page-login .login {
  margin-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}

@media (max-width: 576px) {
  .section.page-login .login {
    gap: 13px;
  }
}

.section.page-login .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

.section.page-login .option ul.find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.section.page-login .option ul.find li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

@media (max-width: 780px) {
  body.room_list .options_wrap, body.room_list .selectbox_grp {
    width: 100%;
  }
}

@media (max-width: 780px) {
  body.room_list .options_wrap .selectbox_grp > li {
    width: 50%;
  }
}

body.room_list ._content.list_wrap {
  margin-top: 20px;
  width: 100%;
}

body.room_list .room_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body.room_list .room {
  border-radius: 6px;
  border: solid 1px #ddd;
  background-color: #ffffff;
  width: 19.2%;
  margin-right: 1%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body.room_list .room:nth-child(5n) {
  margin-right: 0;
}

body.room_list .room .inner_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 780px) {
  body.room_list .room .inner_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body.room_list .room .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}

body.room_list .room .number span {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

body.room_list .room .text_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  height: auto;
  min-height: 170px;
}

body.room_list .room .text_wrap ._text li {
  line-height: 1.6em;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-align: center;
}

body.room_list .room .text_wrap .label_grp {
  margin-top: 14px;
}

body.room_list .room:hover {
  border-color: rgba(0, 133, 203, 0.5);
}

@media (max-width: 780px) {
  body.room_list .room {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  body.room_list .room .number {
    border-bottom: none;
    border-right: 1px solid #ddd;
    width: 23%;
  }
  body.room_list .room .text_wrap {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 60px;
    padding: 20px 30px;
  }
  body.room_list .room .text_wrap ._text li {
    text-align: left;
  }
  body.room_list .room .text_wrap .label_grp {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  body.room_list .room .text_wrap {
    padding: 20px;
  }
  body.room_list .room .number {
    width: 32%;
  }
}

body.room_list .inner_popup {
  border: solid 1px #0085cb;
  left: -326px;
  top: -1px;
}

body.room_list .inner_popup .btn.close {
  right: 15px;
  position: absolute;
  top: 10px;
  cursor: pointer;
}

body.room_list .inner_popup .btn.close > i {
  font-size: 21px;
  color: #ccc;
}

body.room_list .inner_popup .btn.close > i:hover {
  color: #333;
}

body.room_list .inner_popup li {
  font-size: 16px;
  line-height: 2;
}

body.room_list .inner_popup label {
  font-weight: bold;
  width: 30%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 780px) {
  body.room_list .inner_popup {
    position: relative;
    left: 0;
    top: 0;
    height: 0;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 1px solid #ddd;
  }
  body.room_list .inner_popup.with_tail:before {
    content: none;
  }
  body.room_list .inner_popup.with_tail:after {
    content: none;
  }
  body.room_list .inner_popup ul {
    width: 100%;
  }
  body.room_list .inner_popup label {
    width: 20%;
  }
}

@media (max-width: 576px) {
  body.room_list .inner_popup label {
    width: 30%;
  }
}

body.room_list ._pop .inner_popup {
  visibility: visible;
  opacity: 1;
  z-index: 9;
}

@media (max-width: 780px) {
  body.room_list ._pop .inner_popup {
    height: 0;
    padding: 30px 40px;
    height: auto;
  }
}

@media (max-width: 576px) {
  body.room_list ._pop .inner_popup {
    padding: 20px 30px;
  }
}

.calendarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendarContainer .container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 55px;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 780px) {
  .calendarContainer .container {
    padding-top: 36px;
    padding-bottom: 33px;
  }
}

.calendarContainer .fc-view {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.calendarContainer .fc-view thead {
  border: none;
}

.calendarContainer .fc-view thead td {
  border: none;
}

.calendarContainer .fc-view > table > tbody > tr > td {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.calendarContainer .fc-toolbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendarContainer .fc-toolbar .fc-right {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.calendarContainer .fc-toolbar .fc-center h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: -0.6px;
  text-align: center;
  color: #222222;
}

.calendarContainer .fc-toolbar .fc-center .fc-button {
  border-radius: 999px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ffffff;
  text-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 31px;
  height: 31px;
  padding: 0;
}

.calendarContainer .fc-toolbar .fc-center .fc-button i {
  font-size: 6px;
  color: #666666;
}

.calendarContainer ul.roomStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
}

.calendarContainer ul.roomStatus .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.calendarContainer ul.roomStatus .status-draft span {
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.48px;
  text-align: left;
  color: #666666;
  padding-bottom: 2px;
}

.calendarContainer ul.roomStatus .status-draft::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #666666;
  border-radius: 9999px;
}

.calendarContainer ul.roomStatus .status-on span {
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.48px;
  text-align: left;
  color: #16a854;
  padding-bottom: 2px;
}

.calendarContainer ul.roomStatus .status-on::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #16a854;
  border-radius: 9999px;
}

.calendarContainer ul.roomStatus .status-done span {
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.48px;
  text-align: left;
  color: #0085cb;
  padding-bottom: 2px;
}

.calendarContainer ul.roomStatus .status-done::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #0085cb;
  border-radius: 9999px;
}

.calendarContainer th.fc-widget-header {
  border: none;
  padding: 12px 17px 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.48px;
  text-align: right;
  color: #222222;
}

.calendarContainer .fc-unthemed .fc-today {
  background: none;
}

.calendarContainer .fc-basic-view .fc-day-number {
  padding-top: 10px;
  padding-right: 21px;
  padding-bottom: 11px;
  font-family: "Noto Sans KR", sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.42px;
  text-align: right;
  color: #222222;
}

.calendarContainer .fc-day-grid .fc-row:last-child td {
  border-bottom: 0;
}

.calendarContainer .fc-event-container .fc-event {
  border-radius: 999px;
  text-align: center;
  color: #ffffff;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
}

.calendarContainer .fc-event-container .fc-event.status {
  border: none;
}

.calendarContainer .fc-event-container .fc-event.status-draft {
  background-color: #666666;
}

.calendarContainer .fc-event-container .fc-event.status-on {
  background-color: #16a854;
}

.calendarContainer .fc-event-container .fc-event.status-done {
  background-color: #0085cb;
}

.calendarContainer .fc-event-container .fc-event span {
  color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.42px;
  text-align: center;
  color: #ffffff;
}

header nav.find {
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}

header nav.find .container {
  max-width: 1200px;
  margin: 0 auto;
}

header nav.find .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav.find .menu-list li {
  width: 50%;
}

header nav.find .menu-list li a {
  padding: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}

header nav.find .menu-list li a.active {
  border-bottom: 4px solid #e50019;
}

.section.page-findId {
  padding-top: 100px;
  padding-bottom: 145px;
}

@media (max-width: 576px) {
  .section.page-findId {
    padding: 50px 0 70px;
  }
}

.section.page-findId .container {
  max-width: 1200px;
  margin: 0 auto;
}

.section.page-findId .pageHeader {
  margin-bottom: 45px;
  padding: 0 20px;
}

.section.page-findId .pageHeader h2.title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.72px;
  text-align: left;
  color: #222222;
  word-break: keep-all;
}

.section.page-findId .pageHeader h2.title + p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.54px;
  text-align: left;
  color: #666666;
}

.section.page-findId .content {
  padding: 168px 20px;
  border-radius: 6px;
  border: solid 1px #dddddd;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .section.page-findId .content {
    padding: 84px 20px;
  }
}

.section.page-findId .content form {
  max-width: 510px;
  margin: 0 auto;
}

.section.page-findId .content hr {
  margin-top: 45px;
  margin-bottom: 45px;
  border: none;
  border-bottom: 1px solid #dddddd;
}

.section.page-findId .content button[type="submit"] {
  width: 100%;
  padding: 15px 0 18px;
  border-radius: 6px;
  background-color: #414141;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.54px;
  text-align: center;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */